.elementor-32 .elementor-element.elementor-element-a6e3939:not(.elementor-motion-effects-element-type-background),
.elementor-32 .elementor-element.elementor-element-a6e3939>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://media.tenor.com/Bekr8qcIS8sAAAAd/ouch-backfire.gif");
}

.elementor-32 .elementor-element.elementor-element-a6e3939 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 3rem 8rem 3rem 8rem;
}

.elementor-32 .elementor-element.elementor-element-a6e3939>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-29a8125:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-32 .elementor-element.elementor-element-29a8125>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #131313B8;
}

.elementor-32 .elementor-element.elementor-element-29a8125>.elementor-element-populated,
.elementor-32 .elementor-element.elementor-element-29a8125>.elementor-element-populated>.elementor-background-overlay,
.elementor-32 .elementor-element.elementor-element-29a8125>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-32 .elementor-element.elementor-element-29a8125>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-32 .elementor-element.elementor-element-29a8125>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-0b98503 img {
    width: 30%;
}

.elementor-32 .elementor-element.elementor-element-5a47c5f {
    text-align: center;
}

.elementor-32 .elementor-element.elementor-element-5a47c5f .elementor-heading-title {
    font-family: "Alumni Sans", Sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(244.65840831758035, 251.6, 23.519130434782642, 0.3);
}

.elementor-32 .elementor-element.elementor-element-9448d7f {
    text-align: center;
}

.elementor-32 .elementor-element.elementor-element-9448d7f .elementor-heading-title {
    font-family: "Alumni Sans", Sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(244.65840831758035, 251.6, 23.519130434782642, 0.3);
}

.elementor-32 .elementor-element.elementor-element-0501f39 .elementor-button {
    background-color: #3240EC;
}

.elementor-32 .elementor-element.elementor-element-0ebb665 .elementor-button {
    background-color: #3240EC;
}

.elementor-32 .elementor-element.elementor-element-f072c8d .elementor-button {
    background-color: #3240EC;
}

.elementor-32 .elementor-element.elementor-element-d774aa9 .elementor-main-swiper .elementor-carousel-image {
    background-size: auto;
}

.elementor-32 .elementor-element.elementor-element-d774aa9.elementor-skin-slideshow .elementor-main-swiper {
    margin-bottom: 10px;
}

.elementor-32 .elementor-element.elementor-element-d774aa9 .elementor-swiper-button {
    font-size: 20px;
}

.elementor-32 .elementor-element.elementor-element-89a1b79:not(.elementor-motion-effects-element-type-background),
.elementor-32 .elementor-element.elementor-element-89a1b79>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://hpoa7inu.wtf/wp-content/uploads/2023/08/Screen-Shot-2023-08-03-at-11.25.41-pm.png");
    background-position: center center;
    background-size: cover;
}

.elementor-32 .elementor-element.elementor-element-89a1b79>.elementor-background-overlay {
    background-color: #002985;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-89a1b79 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-32 .elementor-element.elementor-element-10a9bf0>.elementor-element-populated {
    padding: 50px 50px 50px 50px;
}

.elementor-32 .elementor-element.elementor-element-b64df41 {
    text-align: center;
}

.elementor-32 .elementor-element.elementor-element-b64df41 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-32 .elementor-element.elementor-element-ed12c5b {
    text-align: center;
}

.elementor-32 .elementor-element.elementor-element-ed12c5b .elementor-heading-title {
    font-family: "Alumni Sans", Sans-serif;
    font-size: 75px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(244.65840831758035, 251.6, 23.519130434782642, 0.3);
}

.elementor-bc-flex-widget .elementor-32 .elementor-element.elementor-element-aabde2f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-aabde2f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-2492b0c {
    text-align: left;
}

.elementor-32 .elementor-element.elementor-element-2492b0c .elementor-heading-title {
    font-family: "Alumni Sans", Sans-serif;
    font-size: 75px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(244.65840831758035, 251.6, 23.519130434782642, 0.3);
}

.elementor-32 .elementor-element.elementor-element-d14e0c6 .elementor-button {
    background-color: #3240EC;
}

.elementor-32 .elementor-element.elementor-element-4122213 .elementor-button {
    background-color: #3240EC;
}

.elementor-32 .elementor-element.elementor-element-3b4fd29 img {
    width: 30%;
}

.elementor-32 .elementor-element.elementor-element-3d5f1a4 .elementor-main-swiper .elementor-carousel-image {
    background-size: auto;
}

.elementor-32 .elementor-element.elementor-element-3d5f1a4.elementor-skin-slideshow .elementor-main-swiper {
    margin-bottom: 10px;
}

.elementor-32 .elementor-element.elementor-element-3d5f1a4 .elementor-swiper-button {
    font-size: 20px;
}

.elementor-32 .elementor-element.elementor-element-cab6921>.elementor-background-overlay {
    background-color: #5B3699;
    opacity: 0.5;
}

.elementor-32 .elementor-element.elementor-element-cab6921,
.elementor-32 .elementor-element.elementor-element-cab6921>.elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
}

.elementor-32 .elementor-element.elementor-element-cab6921 {
    padding: 30px 30px 30px 30px;
}

.elementor-32 .elementor-element.elementor-element-a2f5500:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-32 .elementor-element.elementor-element-a2f5500>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://hpoa7inu.wtf/wp-content/uploads/2023/08/Screen-Shot-2023-08-03-at-11.20.32-pm.png");
    background-position: top center;
    background-size: cover;
}

.elementor-32 .elementor-element.elementor-element-a2f5500>.elementor-element-populated>.elementor-background-overlay {
    background-color: #13225C;
    opacity: 0.5;
}

.elementor-32 .elementor-element.elementor-element-a2f5500>.elementor-element-populated,
.elementor-32 .elementor-element.elementor-element-a2f5500>.elementor-element-populated>.elementor-background-overlay,
.elementor-32 .elementor-element.elementor-element-a2f5500>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-32 .elementor-element.elementor-element-a2f5500>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 50px 50px 50px;
}

.elementor-32 .elementor-element.elementor-element-a2f5500>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-9237204 .elementor-heading-title {
    color: #000000;
}

.elementor-32 .elementor-element.elementor-element-d9abf66 {
    text-align: left;
}

.elementor-32 .elementor-element.elementor-element-d9abf66 .elementor-heading-title {
    font-family: "Alumni Sans", Sans-serif;
    font-size: 75px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(244.65840831758035, 251.6, 23.519130434782642, 0.3);
}

.elementor-32 .elementor-element.elementor-element-a7c0a89 {
    font-family: "Itim", Sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.elementor-32 .elementor-element.elementor-element-2ed8a61 {
    text-align: left;
    z-index: 1;
}

.elementor-32 .elementor-element.elementor-element-2ed8a61 .elementor-heading-title {
    font-family: "Alumni Sans", Sans-serif;
    font-size: 75px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(244.65840831758035, 251.6, 23.519130434782642, 0.3);
}

.elementor-32 .elementor-element.elementor-element-7c6c344 {
    font-family: "Itim", Sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.elementor-bc-flex-widget .elementor-32 .elementor-element.elementor-element-495a739.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-495a739.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-32 .elementor-element.elementor-element-155ed4c img {
    width: 40%;
}

.elementor-32 .elementor-element.elementor-element-274c265 img {
    width: 30%;
}

.elementor-32 .elementor-element.elementor-element-4d04443:not(.elementor-motion-effects-element-type-background),
.elementor-32 .elementor-element.elementor-element-4d04443>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://media.tenor.com/DBqUS_fY6Y0AAAAd/sonic-running.gif");
}

.elementor-32 .elementor-element.elementor-element-4d04443>.elementor-background-overlay {
    background-color: #1578B4;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-32 .elementor-element.elementor-element-4d04443 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

.elementor-32 .elementor-element.elementor-element-113d395 {
    text-align: center;
}

.elementor-32 .elementor-element.elementor-element-113d395 .elementor-heading-title {
    font-family: "Alumni Sans", Sans-serif;
    font-size: 75px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgba(244.65840831758035, 251.6, 23.519130434782642, 0.3);
}

.elementor-32 .elementor-element.elementor-element-d7b3bf4 img {
    width: 30%;
}

.elementor-32 .elementor-element.elementor-element-a272676 {
    text-align: center;
}

.elementor-32 .elementor-element.elementor-element-a272676 .elementor-heading-title {
    font-family: "Alumni Sans", Sans-serif;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(244.65840831758035, 251.6, 23.519130434782642, 0.3);
}

.elementor-32 .elementor-element.elementor-element-d712a99 {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-32 .elementor-element.elementor-element-d712a99 .elementor-widget-container {
    text-align: center;
}

@media(max-width:1024px) {
    .elementor-32 .elementor-element.elementor-element-d774aa9.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px;
    }
    .elementor-32 .elementor-element.elementor-element-3d5f1a4.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px;
    }
}

@media(max-width:767px) {
    .elementor-32 .elementor-element.elementor-element-a6e3939 {
        padding: 0rem 0rem 0rem 0rem;
    }
    .elementor-32 .elementor-element.elementor-element-29a8125>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-32 .elementor-element.elementor-element-d774aa9.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px;
    }
    .elementor-32 .elementor-element.elementor-element-10a9bf0>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-32 .elementor-element.elementor-element-ed12c5b .elementor-heading-title {
        font-size: 45px;
    }
    .elementor-32 .elementor-element.elementor-element-2492b0c .elementor-heading-title {
        font-size: 45px;
    }
    .elementor-32 .elementor-element.elementor-element-3d5f1a4.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px;
    }
    .elementor-32 .elementor-element.elementor-element-d9abf66 .elementor-heading-title {
        font-size: 45px;
    }
    .elementor-32 .elementor-element.elementor-element-a7c0a89 {
        font-size: 18px;
    }
    .elementor-32 .elementor-element.elementor-element-2ed8a61 .elementor-heading-title {
        font-size: 45px;
    }
    .elementor-32 .elementor-element.elementor-element-7c6c344 {
        font-size: 17px;
    }
    .elementor-32 .elementor-element.elementor-element-113d395 .elementor-heading-title {
        font-size: 45px;
    }
    .elementor-32 .elementor-element.elementor-element-a272676 .elementor-heading-title {
        font-size: 35px;
    }
}

/* Start custom CSS for heading, class: .elementor-element-5a47c5f */

.elementor-32 .elementor-element.elementor-element-5a47c5f {
    word-wrap: break-word;
}

/* End custom CSS */

/* Start custom CSS for heading, class: .elementor-element-9448d7f */

.elementor-32 .elementor-element.elementor-element-9448d7f {
    word-wrap: break-word;
}

/* End custom CSS */

/* Start custom CSS for heading, class: .elementor-element-ed12c5b */

.elementor-32 .elementor-element.elementor-element-ed12c5b {
    word-wrap: break-word;
}

/* End custom CSS */

/* Start custom CSS for heading, class: .elementor-element-d9abf66 */

.elementor-32 .elementor-element.elementor-element-d9abf66 {
    word-wrap: break-word;
}

/* End custom CSS */

/* Start custom CSS for heading, class: .elementor-element-2ed8a61 */

.elementor-32 .elementor-element.elementor-element-2ed8a61 {
    word-wrap: break-word;
}

/* End custom CSS */

/* Start custom CSS for heading, class: .elementor-element-113d395 */

.elementor-32 .elementor-element.elementor-element-113d395 {
    word-wrap: break-word;
}

/* End custom CSS */